{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
  rel="stylesheet" />
<!-- If user is logged on, say Hello -->
{% if request.user.is_authenticated %}
<p>
  Hello, {{ request.user.username }}!
</p>

{% else %}
<a href="/registration/signup">Sign Up</a>


{% endif %}

<!-- User can create a new poll if authenticated-->
{% if request.user.is_authenticated %}

<a href="/polls/create">New Poll</a>
{% endif %}


<!-- If user is Not logged on, Redirect them to signup -->
<!-- TODO -->


<p align="right">
  {% if request.user.is_authenticated %}
    <a href="/accounts/logout">Logout</a>
  {% else %}
    <a href="/accounts/login">Login</a>
  {% endif %}

</p>

{% block content %}
<p>
  This is a placeholder block.
</p>
{% endblock %}