{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
  rel="stylesheet"
/>
<!-- If user is logged on, say Hello -->
{% if request.user.is_authenticated %}
<p>
  Hello, {{ request.user.username }}!
</p>
{% endif %}


<!-- If user is Not logged on, Redirect them to signup -->
<!-- TODO -->

<a href="/registration/signup">Sign Up</a>

<p align="right">
  <a href="/accounts/login">Login</a>
  <a href="/accounts/logout">Logout</a>
</p>

{% block content %}
<p>
  This is a placeholder block.
</p>
{% endblock %}
