{% extends 'polls/base.html' %}
<!-- This template displays a radio button for each question, the value is associated with an ID -->

<!--Each radio button is a choice. When someone selects a choice and submits form, POST dad choice=# -->

{% block content %}
<div class="content_container">
  <h1>{{ question.question_text }}</h1>

  {% if question.author %}
    <p>Author: {{ question.author.username }}</p>
  {% endif %}

  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  <form class="form" action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %} {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label class="choice" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input class="button" type="submit" value="Vote" />
  </form>

  {% if request.user == question.author %}
    <!-- choice creation form -->
    <h3>Create a new Choice!</h3>
    <form method='POST'>
        {% csrf_token %}
        {{ choice_form.as_p }}

      <input type="submit" value="Submit new choice!">
    </form>
  {% endif %}

</div>
{% endblock content %}